html, body { 
    margin: 0; 
    height: 100%; 
}

#outer {
    position: relative;
    margin: 0 auto;
}

#header {
    border: 1px solid red;
    height: auto;
    margin: 0;
    width: 100%;
}

#leftnav {
    float: left;
    width: 20%;
    background: yellow;
    margin-top: 0;
    margin-right: 1.67em;
    border-right: 3px solid black;
    padding-top: 0;
    padding-right: 1em;
    padding-bottom: 20px;
    height: 100%;
}

#maincontent {
    padding-left: 1.7em;
    margin-top: 0;
    padding-top: 0;
    padding-left: 200px;
    height: 100%;
}

#footer {
    clear: both;
    padding-bottom: 1em;
    border-top: 1px solid #333;
    text-align: center;
    background: green;
    position:fixed;
    bottom:0;
    width: 100%;
}
